body {
  background-color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}
.plase {
  background-color: #9461fb;
    transition: background-color 0.3s;
}

 .dark-mode {
   background-color: #1e1e1e;
 }

 .toggle-button {
   right: 10px;
   padding: 5px;
   background-color: transparent;
   border: none;
   cursor: pointer;
    border: rgb(255, 205, 112) 1px solid;
    border-radius: 50%;
    margin: 0 10px;
 }
 .toggle-button img {
   width: 27px;
 }

.plase:hover {
  background-color: #712cf9;
}

.card {
  margin-top: 30px;
}

#add-btn {
  position: fixed;
  bottom: 5%;
  right: 7%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 50px;
  color: #ffff;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.3);
}

/* profile page style */
.number-info {
  color: rgb(172, 172, 172);
  font-weight: 100;
}

.number-info span {
  font-size: 50px;
  color: black;
}

.user-main-info {
  font-weight: 500;
  font-size: 20px;
}
/* profile page style */
/* loader style */
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: #ffff;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-parent {
  background-color: rgb(128, 128, 128,0.495);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999;
  width: 90px;
  height: 90PX;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}